@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}


:root {
    --primary-color: #1b1a1a;
    --secondary-font: "Figtree", sans-serif;
}

.underline {
    background: var(--primary-color);
    position: absolute;
    bottom: -4px;
    height: 1px;
}