@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
}


:root {
    --primary-color: #1b1a1a;
    --secondary-font: "Figtree", sans-serif;
}

/* Navbar Underline with animation */
.underline-class {
    background: var(--primary-color);
    position: absolute;
    bottom: -4px;
    height: 1px;
    transform: scale(1.0001);
}


/* Hide scrollbar for all major browsers */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}